@charset "UTF-8";

/* Last edit: 7/9/2019 11:05 PM */
/* Last validated error free: 7/9/2019 11:05 PM */

/* Cite code */


/*-----LINKS-----*/

a:link {
    color: darkred;
}
a:visited {
    color: firebrick;
}
a:focus {
    color: crimson;
}
a:hover {
    color: crimson;
}
a:active {
    color: bisque;
}

/*-----END of LINKS-----*/


/*----HEADER-----*/

Header {
    font-size: 100%;
    border-style:double;
    border-width: 10px;
    border-color: darkred;
}
.welcome{ 
    font-style: italic;
}

/*----NAVIGATION BAR-----*/

nav {
    font-family:serif;
    text-align: center;
    list-style:none;
    display: inline-block;
    float: none;
}
li{ 
    font-weight: 900;
    font-size: 20px;
    font-family:serif;
    text-align: center;
    list-style:none;
    display: inline-block;
    float: none;
    padding: 20px
}

/*---- END of NAVIGATION BAR-----*/

h1 {
    color: darkgreen; 
    font-family:"Palatino Linotype", sans-serif; 
    font-style: oblique;
    font-weight: bolder;
    font-size: 90px;
}
/*-----END of HEADER-----*/

/*-----BODY-----*/

Body {
    font-family:cursive;
    font-size: 100%;
    background-color:rgba(255, 161, 161, 0.19);
    text-align: center;
    width:auto;
    display: inline-block;
    margin: 50px;
}
main{
    border-style: double;
    border-width: 10px;
    border-color: darkred;
}
p{ 
    text-indent: 2em;
}
h2 {
    font-family: serif;
    color:darkgreen;
    font-size: 40px;
}
h3 {
    font-family: serif;
    color: darkgreen;
    font-size: 32px;
}
blockquote {
    font-size:90%;
    text-indent: 0em;
}

/*----PICTURES-----*/
#logo{
    float:none;
}
#pail {
    padding: 30px;
}
#hands {
    padding: 20px;
}
#profilepic{
    float:left;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
/*-----END of PICTURES------*/

/*----FOOTER----*/

footer{
    font-size:10px;
    border-style:double;
    border-width: 10px;
    border-color: darkred;
}

/*-----END of FOOTER-----*/

/*-----END of BODY-----*/
